<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings>
    
    <!-- NON-GENERIC APP SETTINGS-->
    
    <!--DB Server Connection String (Always Keep Initital Catalog as XXXXX)-->

    <!--Deployment Settings-->
    <!--
    
    <add key="DBConnectionString" value="Data Source=EL1REPORTS\SQLEXPRESS;Initial Catalog=XXXXX;User ID=sa;Password=SVSMJPJM"/> 
    <add key="DBConnectionString" value="Data Source=EL1REPORTS;Initial Catalog=XXXXX;User ID=sa;Password=SVSMJPJM"/> 
    <add key="DBConnectionString" value="Data Source=SHPH1REPORTS;Initial Catalog=XXXXX;User ID=sa;Password=SVSMJPJM"/> 
    -->

    <!-- <add key="DBConnectionString" value="Data Source=SHTN1REPORTS;Initial Catalog=XXXXX;User ID=sa;Password=SVSMJPJM"/>-->
    <!--SHAWMUT SHPH1 -->
    
    <!--
    <add key="genericErrorFolderPath" value="\\\\XXXXX\\c$\\Shelton\\errors\\"/> GLEN RAVEN 
    -->
    <!--
    <add key="genericErrorFolderPath" value="\\\\XXXXX\\Shelton\\errors\\"/> --><!--SHAWMUT SHPH1/SHTN1 -->
    
    
    <!--
    <add key="genericErrorFolderPath" value="\\\\XXXXX\\c$\\Shelton\\errors\\"/> SHAWMUT SHTN
    <add key="genericErrorFolderPath" value="\\\\XXXXX\\Shelton\\errors\\"/> 
    <add key="genericErrorFolderPathLoomSystem" value="C:\\Shelton\\errors\\"/>
    -->
    
    <!--Test Settings-->
    
    <add key="genericErrorFolderPath" value="D:\\testFolder\\LoggerAnalysisToolTestFolder\\SimulationEnvironment\\XXXXX\\" />
    <add key ="DBConnectionString" value ="Data Source=SHELTON-MAIN;Initial Catalog=XXXXX;User ID=sa;Password=SVSMJPJM"/>
    <add key="genericErrorFolderPathLoomSystem" value="C:\\Shelton\\errors\\"/>
   
    
    <!--DATETIME FORMATS TO BE ADDED HERE IF NECESSARY-->
    
    <add key="DateTimeFormats" value="MM/dd/yy HH:mm:ss,dd-MMM-yy(HH-mm-ss),M/d/yyyy h:m:s tt,yyyy-MM-dd HH:mm:ss.fff,dd/MM/yyyy H:m:s,M/d/yyyy HH:mm,M/d/yyyy h:m:,H:m"/>    
    
    <!--App Logs Reporting Path-->
    
    <add key="errorLogPath" value="LogAnalysisToolLogs.txt"/>
    
    <!--*************************************************DO NOT CHANGE BELOW THIS LINE ********************************************-->
    
    <!--GENERIC APP SETTINGS-->
    
    <add key="vbLogKey" value="vblog"/>
    <add key="vbEventLogKey" value="vbeventlog"/>
    <add key="witStatusLogKey" value="witstatuslog"/>
    <add key="serialOutputLogKey" value="serialoutput"/>
    <add key="DBLogKey" value="dblog"/>
    <add key="mainLogKey" value="mainlog"/>
    <add key="dateTimeKey" value="dateTime"/>
    <add key="nextPrevWO" value="nextprev"/>
    <add key="noConditions" value="NO CONDITIONS"/>
    <add key="PathNotFound" value="Path Does Not Exist :: Failed to load Directory or  File : Path : "/>
    <add key="NoContentInFileOrDirectory" value="There are no relevant files inside this directory or the file mentioned does not have any data inside it : Path : "/>
    <add key="SystemTypeComboBoxValues" value="FrontEnd,Master"/>
    <add key="SelectAllText" value="Select All"/> 
    <add key="DeselectAllText" value="Deselect All"/>
    <add key="CheckServerName" value="true"/>
    
    <!--PATH SETTINGS-->
    
    
    <!--CHANGE the db strings when deploying to the actual environment-->
    
    <!--Test Environment Settings -->
    
    <add key="webSpectorDBName" value="webspectorgr1" />
    <add key="workOrdersDBName" value="workordersgr1" />
    <add key="EventLogDBName" value="eventloggr1" />
    
    
    <!--Generic DB Settings Settings -->
    <!--
    <add key="webSpectorDBName" value="webspector"/>
    <add key="workOrdersDBName" value="workorders"/>
    <add key="EventLogDBName" value="eventlog"/>
    -->
    <!--E-Leather EL1, Even change the loom system settings-->
    <!--
    <add key="webSpectorDBName" value="webspectorel1" />
    <add key="workOrdersDBName" value="workordersel1" />
    <add key="EventLogDBName" value="eventlogel1" />
   -->
    
    <!--PINCROFT PC2, Even change the loom system settings and the PC Names in Log File Parser Logic-->
    <!--
    <add key="webSpectorDBName" value="webspectorpc2" />
    <add key="workOrdersDBName" value="workorderspc1" />
    <add key="EventLogDBName" value="eventlogpc2" />
   -->
    
    <!--PINCROFT PC1, Even change the loom system settings and the PC Names in Log File Parser Logic-->
    <!--
    <add key="webSpectorDBName" value="webspectorpc1" />
    <add key="workOrdersDBName" value="workorderspc1" />
    <add key="EventLogDBName" value="eventlogpc1" />
  -->
    
     <!--ShawmutPH SHPH1, Even change the loom system settings-->
    <!--
    <add key="webSpectorDBName" value="webspectorshph1" />
    <add key="workOrdersDBName" value="workordersshph1" />
    <add key="EventLogDBName" value="eventlogshph1" />
   -->
    
    <!--ShawmutTN SHTN1, Even change the loom system settings-->
    <!--
    <add key="webSpectorDBName" value="webspectorel1" />
    <add key="workOrdersDBName" value="workordersel1" />
    <add key="EventLogDBName" value="eventlogel1" />
   -->
    
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
   
    
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
